@model BusinessService.Models.Common.HomePageModel
@{
    ViewBag.Title = "Change Password";
}
<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container hidden-xs">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2>
                    <img src="~/images/app/changepassword.svg" class="icon_svg_title pb-10" />&nbsp; Change Password
                </h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/myaccount">My Account</a></li>
                    <li class="active"><b>Change Password</b></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid hidden-sm hidden-md hidden-lg">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2>
                    <img src="~/images/app/changepassword.svg" class="icon_svg_title pb-10" />&nbsp; Change Password
                </h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/myaccount">My Account</a></li>
                    <li class="active"><b>Change Password</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BANNER SECTION -->
<!-- PAGE SECTION START -->
<div class="page-section section pt-30 pb-30">
    <div class="@(Request.Browser.IsMobileDevice == true ? "container-fluid" : "container")">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="login-reg-form">
                    @using (Html.BeginForm("ChangePassword", "UserProfile", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <img src="@Model.CurrentUserLogin.Avatar" class="avatar_myaccount" />
                                <br /><br />
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Current Password <span class="required">*</span></label>
                                            <input id="currentPassword" name="CurrentPassword" type="password" placeholder="Current Password" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>New Password <span class="required">*</span></label>
                                            <input id="newPassword" name="Password" type="password" placeholder="New Password" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Confirm New Password <span class="required">*</span></label>
                                            <input id="retypePassword" name="RetypePassword" onkeyup="checkPassword()" type="password" placeholder="Confirm New Password" />
                                            <span id="errorPassword" class="text-danger"></span>
                                            <span id="successPassword" class="text-success"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-8 col-md-4 pull-right">
                                        <input type="submit" value="Change">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <p class="text-danger">@TempData["error"]</p>
                            <p class="text-success">@TempData["success"]</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE SECTION END -->

<script>
    function checkPassword() {
        $('#newPassword, #confirmNewPassword').on('keyup', function () {
            if ($('#newPassword').val() === $('#confirmNewPassword').val()) {
                $("#errorPassword").text("");
                $("#successPassword").text("Password is matching!");
            } else {
                $("#errorPassword").text("Password is not matching!");
                $("#successPassword").text("");
            }
        });
    }
</script>